<label (click)='pocetna()' style="margin-top: 1rem; margin-left:2rem ; color:lightblue; font-weight: bold; font-style: italic;">Početna strana</label>
<label (click)='logout()' style="margin-top: 1rem; margin-left:60rem ; color:lightblue; font-weight: bold; font-style: italic;">Izloguj se</label>
<header style="font-weight: bold; font-size: xxx-large; margin-top: -1rem; margin-left: 29rem; margin-bottom: 3rem; color: lawngreen; font-style: itlaic;">
  Klub čitalaca
</header>

<table style="margin:auto">
  <tr style='margin-top: 25pix;' *ngFor='let knjiga of prikazano'
  [class.neod]='knjiga.odobreno==0'>
    <div style='height: 150; width: 150;'>
      <label style=' margin-left:10px; margin-top:10px;'>{{knjiga.naslov}}</label>
      <hr style='visibility: hidden;'>
      <img style="height:200px; margin-left:10px; margin-top: -20px;" [src]='knjiga.imagePath'>
      <button style="margin-left: 3rem" mat-raised-button color="primary" (click)="odobri(knjiga.naslov)">Odobri</button>
    </div>
  </tr>
</table>
<mat-paginator [length]='brojKnjiga' [pageSize]='poStrani' [pageSizeOptions]='opcije' (page)='onChange($event)'
*ngIf='brojKnjiga>0' style="margin-top: 3rem;">

</mat-paginator>
